
@{
    Layout = null;
}

<!DOCTYPE html>

<div id="ajax_loader" style="position: absolute; left: 50%; top: 50%; z-index: 50000; display: none">
    <b>cargando ...</b>
    <img src="../../../images/loading_page.gif" width="20" height="20" />
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-azuloscuro top_tituloencabezado">
            Ingreso de Pagos
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        <label>
            &nbsp;Cliente
        </label>
    </div>
    <div class="col-lg-1" style="padding-right: 0 !important;">
        <input type="text" class="form-control text-right limpiar" id="telefono" style="padding-left: 0 !important;" placeholder="xxx" value="" readonly>
    </div>
    <div class="col-lg-4 col-xs-9 col-sm-9" style="padding-left: 0 !important;">
        <div class="input-group input-group-md">
            <input type="text" class="form-control limpiar" id="nombrecliente" placeholder="Nombre Cliente" value="" readonly>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="idabreModalClientes">
                    <i class="glyphicon glyphicon-folder-open"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="col-lg-1">
        <label>
            &nbsp;N°Pedido
        </label>
    </div>
    <div class="col-lg-1">
        <input type="text" class="form-control limpiar" id="numeropedido" onkeypress="return validateEnteroKeyPress(this,event);">
    </div>
    <div class="col-lg-2">
        <select id="pendientes" class="form-control" disabled>
            <option value="1" selected>Duedores</option>
            <option value="2">Todos</option>
        </select>
    </div>
    <div class="col-lg-1">
        <div class="input-group input-group-md">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="idBuscarPagosPendientes" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                <button type="button" class="btn btn-danger" id="btn_limpia_filtros" title="Limpiar Filtros"><i class="fa fa-trash-o"></i></button>
            </span>
        </div>
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-success" id="btn_excel_pagos" title="Exportar"><i class="fa fa-file-excel-o"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="idDivPartialPagosPendientes"></div>
    </div>
</div>
<div class="modal fade" id="modal_busca_Clientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_Clientes" aria-hidden="true" style="margin-top: 80px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_Clientes">
                    Clientes
                </h3>

            </div>
            <div class="modal-body">
                <select id="listado_Clientes" class="form-control" data-live-search="true">
                    <option value="0">--Cargando Datos--</option>
                </select>
            </div>
            <div class="modal-footer">
                <button id="btn_elegir_modal_Clientes" type="button" class="btn btn-danger pull-left">Elegir</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_detalle_pagos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h3 class="titulo_modal_h3 modal-title">Detalle Pagos<span style="font-size: 16px"></span></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" id="codigo_hidden" />
                        @*<button type="button" class="btn btn-success pull-right" id="btn_excel_cartolaexistencias" style="width: 100%" title="Buscar"><i class="fa fa-file-excel-o"></i></button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="idDivPartialDetallePagos" class="table-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="id_form_pagos">
    <div class="modal fade" id="modal_ingresar_pagos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header_modal">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="titulo_modal_h3 modal-title">Ingresar Pago<span style="font-size: 16px"></span></h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                N°Pedido
                            </div>
                            <div class="col-lg-9">
                                <input type="text" id="numeropedido_insert" class="form-control text-center" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                N°Doc
                            </div>
                            <div class="col-lg-9">
                                <input type="text" id="numerodoc_insert" class="form-control text-center" readonly />
                                <input type="hidden" id="telefono_insert" class="form-control" />
                                <input type="hidden" id="tipodoc_insert" class="form-control" />
                                <input type="hidden" id="" />
                                <input type="hidden" id="total_insert" />
                                <input type="hidden" id="abono_insert" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Fecha pago
                            </div>
                            <div class="col-lg-9">
                                <input type="date" id="fechapago_insert" class="form-control text-center" value="@ViewData["fecha_actual"]" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3  text-center">
                                Total
                            </div>
                            <div class="col-lg-9">
                                <input type="text" id="formapago_total" class="form-control  text-center" readonly /><!--Pendiente por pagar-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Transferencia
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_transferencia" value="0" onfocus="this.select(),this.value = AgregaTotal(this.value);" onblur="calcular_total();this.value=Moneda(this.value)" onkeypress="return validateIntKeyPress(this,event);" maxlength="9">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Efectivo
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_efectivo" value="0" onfocus="this.select(),this.value = AgregaTotal(this.value);" onblur="calcular_total();this.value=Moneda(this.value)" onkeypress="return validateIntKeyPress(this,event);" maxlength="9">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Ch. día
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_cheques_dia" value="0" onfocus="this.select(),this.value = AgregaTotal(this.value);" onblur="calcular_total();this.value=Moneda(this.value)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Ch. fecha
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_cheques_fecha" value="0" onfocus="this.select(),this.value = AgregaTotal(this.value);" onblur="calcular_total();this.value=Moneda(this.value)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Tarjeta Cr
                            </div>
                            <div class="col-lg-9 text-center">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_tarjetacr" value="0" onfocus="this.select(),this.value = AgregaTotal(this.value);" onblur="calcular_total();this.value=Moneda(this.value)" onkeypress="return validateIntKeyPress(this,event);" maxlength="9">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Tarjeta Db
                            </div>
                            <div class="col-lg-9 text-center">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_tarjetadb" value="0" onfocus="this.select(),this.value = AgregaTotal(this.value);" onblur="calcular_total();this.value=Moneda(this.value)" onkeypress="return validateIntKeyPress(this,event);" maxlength="9">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control text-center forma_pago" id="formapago_cuentacte" value="0" onblur="calcular_total();this.value=Moneda(this.value)" onfocus="this.select(),this.value = AgregaTotal(this.value);" onkeypress="return validateIntKeyPress(this,event);" maxlength="9">

                    @*<div class="form-group">
            <div class="row">
                <div class="col-lg-3 text-center">
                    CtaCte
                </div>
                <div class="col-lg-9">
                </div>
            </div>
        </div>*@
                    <div class="form-group">

                        <div class="row">
                            <div class="col-lg-3 text-center">
                                Vuelto
                            </div>
                            <div class="col-lg-9">
                                <input type="text" class="form-control text-center forma_pago" id="formapago_vuelto" value="0" onfocus="this.select()" readonly="" onkeypress="return validateIntKeyPress(this,event);" maxlength="9">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="guardarpago">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" class="init">

    var carrito = [];
    var valor_formapago_temp_global = 0;
    $(document).ready(function () {
        cargarPagosPendientes();
            $("#idabreModalClientes").click(function (e) {
            e.preventDefault();
            listarClientes("");
            $("#modal_lista_proveedores").modal("show");
        });
        $("#btn_excel_pagos").on('click', function () {
            var telefono = $("#telefono").val();
            var numeropedido = $("#numeropedido").val();
            var pendientes = $("#pendientes").val();
            window.location.href="/Pagos/Excel_PagosPendientes/?telefono=" + telefono + "&pedido=" + numeropedido+"&pend="+pendientes;
        });
        $("#idBuscarPagosPendientes").on('click', function () {
            cargarPagosPendientes();
        });
        $("#btn_limpia_filtros").on('click', function () {
            $(".limpiar").val("");
        });
        $("#idabreModalClientes").on('click', function () {
            $("#modal_busca_Clientes").modal("show");
        });


        $("#btn_elegir_modal_Clientes").click(function (e) {
            e.preventDefault();
            $("#modal_busca_Clientes").modal("hide");
            var telefono = $("#listado_Clientes option:selected").val();
            var nombre = $("#listado_Clientes option:selected").data("nombre");
            $("#telefono").val(telefono);
            $("#nombrecliente").val(nombre);
        });
        $('#id_form_pagos').validationEngine();
        $("#guardarpago").click(function (e) {
            e.preventDefault();
            if (!$("#id_form_pagos").validationEngine('validate')) {
                return false;
            }
            var fd = new FormData();
            $("#numeropedido_insert").val();
            $("#numerodoc_insert").val();
            $("#tipodoc_insert").val();
            var pendiente = parseInt($("#formapago_total").val().replace(/\./g, ''));
            var total = $("#total_insert").val();
            var abono = $("#abono_insert").val();

            var pago = total;
            var transferencia = parseInt(($("#formapago_transferencia").val().replace(/\./g, "") == "") ? 0 :$("#formapago_transferencia").val().replace(/\./g, ""));
            var efectivo = parseInt(($("#formapago_efectivo").val().replace(/\./g, "") == "") ? 0 :$("#formapago_efectivo").val().replace(/\./g, ""));
            var cheques_dia = parseInt(($("#formapago_cheques_dia").val().replace(/\./g, "") == "") ? 0 :$("#formapago_cheques_dia").val().replace(/\./g, ""));
            var cheques_fecha = parseInt(($("#formapago_cheques_fecha").val().replace(/\./g, "") == "") ? 0 :$("#formapago_cheques_fecha").val().replace(/\./g, ""));
            var tarjetacr = parseInt(($("#formapago_tarjetacr").val().replace(/\./g, "") == "") ? 0 :$("#formapago_tarjetacr").val().replace(/\./g, ""));
            var tarjetadb = parseInt(($("#formapago_tarjetadb").val().replace(/\./g, "") == "") ? 0 :$("#formapago_tarjetadb").val().replace(/\./g, ""));
            var vuelto = parseInt(($("#formapago_vuelto").val().replace(/\./g, "") == "") ? 0 :$("#formapago_vuelto").val().replace(/\./g, ""));
            var cuentacte = parseInt(($("#formapago_cuentacte").val().replace(/\./g, "") == "") ? 0 : $("#formapago_cuentacte").val().replace(/\./g, ""));
            var exento = 0;

            var vuelto = parseInt($("#formapago_vuelto").val().replace(/\./g, ""));
            if (vuelto < 0) {
                mostrar_msj_error("El desglose forma de pago debe ser igual al total");
                return false;
            }
            var cuadratura = parseInt($("#formapago_total").val().replace(/\./g, ""));
            var total = 0;
            total += parseInt(($("#formapago_transferencia").val().replace(/\./g, "") == "") ? 0 :$("#formapago_transferencia").val().replace(/\./g, ""));
            total += parseInt(($("#formapago_efectivo").val().replace(/\./g, "") == "") ? 0 :$("#formapago_efectivo").val().replace(/\./g, ""));
            total += parseInt(($("#formapago_cheques_dia").val().replace(/\./g, "") == "") ? 0 :$("#formapago_cheques_dia").val().replace(/\./g, ""));
            total += parseInt(($("#formapago_cheques_fecha").val().replace(/\./g, "") == "") ? 0 :$("#formapago_cheques_fecha").val().replace(/\./g, ""));
            total += parseInt(($("#formapago_tarjetacr").val().replace(/\./g, "") == "") ? 0 :$("#formapago_tarjetacr").val().replace(/\./g, ""));
            total += parseInt(($("#formapago_tarjetadb").val().replace(/\./g, "") == "") ? 0 :$("#formapago_tarjetadb").val().replace(/\./g, ""));
            total += parseInt(($("#formapago_tarjetadb").val().replace(/\./g, "") == "") ? 0 :$("#formapago_cuentacte").val().replace(/\./g, ""));
            total -= parseInt($("#formapago_vuelto").val().replace(/\./g, ""));
            if (total != cuadratura) {
                mostrar_msj_error("El desglose forma de pago debe ser igual al total");
                return false;
            }

            $("#ajax_loader").css("display", "");
            fd.append("pedido", $("#numeropedido_insert").val());
            fd.append("numerodoc", $("#numerodoc_insert").val());
            fd.append("tipodoc", $("#tipodoc_insert").val());
            fd.append("telefono", $("#telefono_insert").val());
            fd.append("pago", pago);
            fd.append("pendiente", pendiente);
            fd.append("abono", abono);
            fd.append("total", total);
            fd.append("transferencia", transferencia);
            fd.append("efectivo", efectivo);
            fd.append("cheques_dia", cheques_dia);
            fd.append("cheques_fecha", cheques_fecha);
            fd.append("tarjetacr", tarjetacr);
            fd.append("tarjetadb", tarjetadb);
            fd.append("vuelto", vuelto);
            fd.append("cuentacte", cuentacte);
            fd.append("fechapag", $("#fechapago_insert").val());
            $.ajax({
                type: "POST",
                url: '/Pagos/GuardarPago/',
                data: fd,
                DataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#ajax_loader").css("display", "none");
                    $("#modal_ingresar_pagos").modal("hide");
                    if (data.retornojson == "1") {
                        $("#id_form_pagos").each(function () { this.reset(); });
                        mostrar_msj_success('Pago guardado correctamente');
                        cargarPagosPendientes();
                    } else if (data == -1) {
                        mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                        window.location.href = "/Acceso/Login";
                    }else {
                        mostrar_msj_error(data.mensajejson);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de Conección");
                }
            });
        });

    });
    function listarClientes(nombre) {

        $.getJSON('/Clientes/BuscarClientes/?nombre_cliente=' + nombre, function (data) {

            var items = "";
            $("#listado_Clientes").empty();
            var count = 0;
            $.each(data, function (i, district) {
                count = 1;
                items += "<option value='" + district.telefono + "' data-nombre='" + district.nombre + "' data-direccion='" + district.direccion + "' data-comuna='" +
                    district.comuna + "' data-condominio='" + district.condominio + "' data-categoria='" + district.categoria + "'  data-lista='" + district.lista + "'>" + district.nombre + "</option>";
            });

            if (count == 0) {
                $('#listado_Clientes').html("<option value='0' data-nombre='' data-direccion='' data-comuna='' data-condominio=''>No hay datos</option>");
            } else {
                $('#listado_Clientes').html(items);
            }
            $("#listado_Clientes").selectpicker('refresh');

        });
    }
    function cargarPagosPendientes() {
        var telefono = $("#telefono").val();
        var numeropedido = $("#numeropedido").val();
        var pendientes = $("#pendientes").val();
        var url_action = '@Html.Raw(Url.Action("partialListadoPagosPendientes", "Pagos",new { telefono = "telefono_", pedido= "pedido_", pendiente="pendientes_" }))';
        url_action = url_action.replace("telefono_", telefono).replace("pedido_", numeropedido).replace("pendientes_", pendientes);
        $("#ajax_loader").css("display", "");
        $.ajax({
            contentType: false,
            processData: false,
            type: 'POST',
            url: url_action,
            success: function (result) {
                $("#ajax_loader").hide();
                    if (result == -1) {
                        mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                        window.location.href = "/../Home/Login";
                    } else {
                    $("#idDivPartialPagosPendientes").html(result);
                    }
                }
            });
    }
     function DetallePagos(pedido, numerodoc,tipodoc) {
        var url_action = '@Html.Raw(Url.Action("partialListadoDetallePagos", "Pagos", new { pedido = "pedido_", numerodoc= "numerodoc_", tipodoc = "tipodoc_"}))';
         url_action = url_action.replace("pedido_", pedido).replace("numerodoc_", numerodoc).replace("tipodoc_", tipodoc);
        $("#ajax_loader").css("display", "");
        $.ajax({
            contentType: false,
            processData: false,
            type: 'POST',
            url: url_action,
            success: function (result) {
                $("#ajax_loader").hide();
                    if (result == -1) {
                        mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                        window.location.href = "/../Home/Login";
                    } else {
                    $("#idDivPartialDetallePagos").html(result);
                    }
                }
            });
        }

    function calcular_total() {
        if ($(("#formapago_transferencia")).val() == "") { $(("#formapago_transferencia")).val("0"); };
        if ($(("#formapago_efectivo")).val() == "") { $(("#formapago_efectivo")).val("0"); };
        if ($(("#formapago_cheques_dia")).val() == "") { $(("#formapago_cheques_dia")).val("0"); };
        if ($(("#formapago_cheques_fecha")).val() == "") { $(("#formapago_cheques_fecha")).val("0"); };
        if ($(("#formapago_tarjetacr")).val() == "") { $(("#formapago_tarjetacr")).val("0"); };
        if ($(("#formapago_tarjetadb")).val() == "") { $(("#formapago_tarjetadb")).val("0"); };
        if ($(("#formapago_cuentacte")).val() == "") { $(("#formapago_cuentacte")).val("0"); };

        var transferencia = parseInt($("#formapago_transferencia").val().replace(/\./g, ""));
        var efectivo = parseInt($("#formapago_efectivo").val().replace(/\./g, ""));
        var totalventa = parseInt($("#formapago_total").val().replace(/\./g, ""));
        var cancelado = 0;
        cancelado += parseInt($("#formapago_transferencia").val().replace(/\./g, ""));
        cancelado += parseInt($("#formapago_efectivo").val().replace(/\./g, ""));
        cancelado += parseInt($("#formapago_cheques_dia").val().replace(/\./g, ""));
        cancelado += parseInt($("#formapago_cheques_fecha").val().replace(/\./g, ""));
        cancelado += parseInt($("#formapago_tarjetacr").val().replace(/\./g, ""));
        cancelado += parseInt($("#formapago_tarjetadb").val().replace(/\./g, ""));
        cancelado += parseInt($("#formapago_cuentacte").val().replace(/\./g, ""));
        var vuelto = (cancelado - totalventa);
        if (vuelto > transferencia + efectivo) { vuelto = 0; }
        $("#formapago_vuelto").val(vuelto);
    }
    function AgregaTotal(valor) {
        if (valor_formapago_temp_global == 0) {
            var total = $("#formapago_total").val();
            valor_formapago_temp_global = 1;
            return total;
        } else {
            if (valor == "0" || valor == "") {
                return 0;
            } else {
                return valor;
            }
        }
    }
</script>