
@{
    Layout = null;

}

<div id="ajax_loader" style="position: absolute; left: 50%; top: 50%; z-index: 50000; display: none">
    <b>cargando ...</b>
    <img src="../../../images/loading_page.gif" width="20" height="20" />
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h3 class="page-header-azuloscuro top_tituloencabezado">
            Vehículos
        </h3>
    </div>
    <div class="col-lg-2"></div>

</div>
<br />

<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-md-8 text-right">
        <button id="agregar_vehiculo" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Agregar Vehiculo</button>
    </div>
    <div class="col-lg-2"></div>

</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div id="idDivPartialListadoVehiculos">
        </div>
    </div>
    <div class="col-lg-2 "></div>
</div>


<form id="id_form_guardar_edit" method="POST" name="fileinfo" role="form">
    <div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 80px">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header header_modal">
                    <button type="button" class="close cerrar_ingresar" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_insert">Editar Vehiculo</h3>
                </div>
                <input id="registro_edit" type="hidden">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Nombre del Vehículo</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="vehiculo_maestro_edit" type="text" class="form-control validate[required]">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Patente</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="patente_maestro_edit" type="text" class="form-control validate[required]" maxlength="10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input id="maestro_editar" type="submit" class=" btn btn-primary" value="Guardar" />
                </div>
            </div>
        </div>
    </div>
</form>
<form id="id_form_guardar_insert" method="POST" name="fileinfo" role="form">
    <div class="modal fade" id="modal_insertar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 80px">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header header_modal">
                    <button type="button" class="close cerrar_ingresar" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_insert">Agregar Vehiculo</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Vehículo</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="vehiculo_maestro" type="text" class="form-control validate[required]">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Patente</label>
                                </div>
                                <div class="col-lg-9">
                                    <input id="patente_maestro" type="text" class="form-control validate[required]" maxlength="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input id="maestro_enviar" type="submit" class=" btn btn-primary" value="Guardar" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modal_eliminar_maestro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog_eliminar">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title titulo_modal_h3">Eliminar Vehiculo</h3>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar la Vehículo con sus detalles asociados?<br />
                <br />
                <div class="form-horizontal">
                    <input type="hidden" name="registro_hidden" id="registro_hidden" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                        <input type="submit" class="enviar_eliminar_vehiculos btn btn-danger" value="Eliminar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" class="init">
    var table_detalle = "";
    var registro_global = 0;
    var referencia_global = 0;
    $(document).ready(function () {
        listar_VehiculosMaestro();
        $("#agregar_vehiculo").on('click', function () {
            $("#modal_insertar").modal("show");
        });
        $("#agregar_detalle").on('click', function () {
            $("#modal_detalle_insertar").modal("show");
        });
        $("#idBuscar").on('click', function () {
            listar_VehiculosMaestro();
        });
        $('#modal_ver_detalle_vehiculo').on('shown.bs.modal', function () {
            table_detalle.columns.adjust();
        });
        $('.enviar_eliminar_vehiculos').click(function (e) {
            e.preventDefault();
            var fd = new FormData();
            fd.append("registro", $("#registro_hidden").val());
            $.ajax({
                type: "POST",
                url: '/Vehiculos/EliminarVehiculo/',
                data: fd,
                DataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == 1) {
                        $("#modal_eliminar_maestro").modal("hide");
                        mostrar_msj_success('Vehiculo Eliminada Correctamente');
                        listar_VehiculosMaestro();
                    } else if (data == -1) {
                        mostrar_msj_error("Error al verificar los datos relacionados");
                    } else if (data == 2) {
                        mostrar_msj_error("No se puede eliminar debido que hay datos relacionados");
                    }
                    else {
                        mostrar_msj_error("Error al Eliminar aplicacion:" + data);
                    }
                }
            });
        });


        $('#id_form_guardar_edit').validationEngine();
        $("#maestro_editar").click(function (e) {
            e.preventDefault();
            if (!$("#id_form_guardar_edit").validationEngine('validate')) {
                return false;
            }
            var fd = new FormData();
            fd.append("patente", $("#patente_maestro_edit").val());
            fd.append("nombre", $("#vehiculo_maestro_edit").val());
            fd.append("registro", $("#registro_edit").val());
            $.ajax({
                type: "POST",
                url: '/Vehiculos/EditarVehiculos/',
                data: fd,
                DataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == 1) {
                        $("#id_form_guardar_edit").each(function () { this.reset(); });
                        listar_VehiculosMaestro();
                        $("#modal_editar").modal("hide");
                        mostrar_msj_success('Datos Guardados Correctamente');
                    } else if (data == 2) {
                        mostrar_msj_error("Documento electronico ya esta en la tabla");
                    } else {

                        mostrar_msj_error("Error interno. Indique a soporte la descripción del error: " + data);
                    }
                    window.scrollTo(0, 0); //Ir hacia arriba
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de conexión");

                }
            });

        });

        $('#id_form_guardar_insert').validationEngine();
        $("#maestro_enviar").click(function (e) {
            e.preventDefault();
            if (!$("#id_form_guardar_insert").validationEngine('validate')) {
                return false;
            }
            var fd = new FormData();
            fd.append("nombre", $("#vehiculo_maestro").val());
            fd.append("patente", $("#patente_maestro").val());
            $.ajax({
                type: "POST",
                url: '/Vehiculos/GuardarVehiculos/',
                data: fd,
                DataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == 1) {
                        $("#id_form_guardar_insert").each(function () { this.reset(); });
                        listar_VehiculosMaestro();
                        $("#modal_insertar").modal("hide");
                        mostrar_msj_success('Datos Guardados Correctamente');
                    } else if (data == 2) {
                        mostrar_msj_error("Documento electronico ya esta en la tabla");
                    } else {

                        mostrar_msj_error("Error interno. Indique a soporte la descripción del error: " + data);
                    }
                    window.scrollTo(0, 0); //Ir hacia arriba
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de conexión");

                }
            });

        });

        $('#id_form_guardardetalle_insert').validationEngine();
        $("#detalle_enviar").click(function (e) {
            e.preventDefault();
            if (!$("#id_form_guardardetalle_insert").validationEngine('validate')) {
                return false;
            }
            var fd = new FormData();
            fd.append("registro", $("#nrovehiculo_encabezado").val());
            fd.append("ciudad", $("#ciudad_detalle").val());
            $.ajax({
                type: "POST",
                url: '/Vehiculos/GuardarVehiculosD/',
                data: fd,
                DataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == 1) {
                        $("#id_form_guardardetalle_insert").each(function () { this.reset(); });
                        listar_DetalleVehiculo($("#nrovehiculo_encabezado").val());
                        $("#modal_detalle_insertar").modal("hide");
                        mostrar_msj_success('Datos Guardados Correctamente');
                    } else if (data == 2) {
                        mostrar_msj_error("Documento electronico ya esta en la tabla");
                    } else {

                        mostrar_msj_error("Error interno. Indique a soporte la descripción del error: " + data);
                    }
                    window.scrollTo(0, 0); //Ir hacia arriba
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de conexión");

                }
            });

        });

       
    });

   
    function listar_VehiculosMaestro() {
        $("#loading").show();
        $.ajax({
            type: "POST",
            url: '/Vehiculos/partialListadoVehiculos/',
            contentType: "application/json; charset=utf-8",
            dataType: false,
            success: function (result) {
                $("#loading").hide();
                if (result == "-1") {
                    mostrar_msj_error_volverIniciar("Su Sessión a ha expirado. Ingrese al Sistema nuevamente", "/../Home/Login");
                } else {
                    $("#idDivPartialListadoVehiculos").html(result);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                mostrar_msj_error("error de Conexion");
            }
        });

    }


</script>