@model IEnumerable<WebBox.Models.PlazasModels>

@{
    Layout = null;
}

<select id="id_selector_plazas_cheqdia_@ViewData["fila"]" class="form-control_combobox_achicado" style="width:100% !important">
    @foreach (var item in Model)
    {
        if (ViewData["codigo"].ToString() == item.codigo)
        {
            <option value="@item.codigo" selected>@item.alias</option>
        }
        else
        {
            <option value="@item.codigo">@item.alias</option>
        }
    }
</select>