
@{
    Layout = null;
}


<div id="ajax_loader" style="position: absolute; left: 50%; top: 50%; z-index: 50000; display: none">
    <b>cargando ...</b>
    <img src="../../../images/loading_page.gif" width="20" height="20" />
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-azuloscuro top_tituloencabezado">
            Inventario Físico
        </h3>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-1">
        <label>Bodega</label>
    </div>
    <div class="col-lg-2">
        <select id="bodega" class="form-control" disabled>
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="col-lg-1">
        <h4>Insumo</h4>
    </div>
    <div class="col-lg-4">
        <p class="input-group">
            <span class="input-group-btn">
                <input type="text" class="form-control text-left cuadrosfiltros" id="insumo" placeholder="nombre del insumo">
                <button type="button" class="btn btn-warning" id="btn_buscarinsumos" title="Buscar productos"><i class="glyphicon glyphicon-search"></i></button>
                <button type="button" class="btn btn-success" id="btn_vercarrito" title="Ver carrito"><i class="glyphicon glyphicon-shopping-cart"></i>(0)</button>
                <button type="button" class="btn btn-danger" id="btn_vaciarcarro" title="Vaciar carrito"><i class="glyphicon glyphicon-trash"></i></button>
                <button type="button" class="btn btn-primary" id="btn_abre_modal_guardar" title="Guardar carrito"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                <button type="button" class="btn btn-warning" id="btn_mostrarinventariados" title="Mostrar Productos Inventariados"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 col-md-1 col-xs-0"></div>
    <div class="col-lg-10 col-md-10 col-xs-12">
        <div id="idDivPartialListadoInventario">
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-0"></div>
</div>
<form method="POST" id="form_cantidad" class="form_cantidad" role="form">
    <div class="modal fade" id="modal_cantidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_cantidad" aria-hidden="true" style="margin-top: 80px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header_modal">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_cantidad">Detalle Producto <span style="font-size: 16px"></span></h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="codigo_cant" value="5">

                    <div class="row">
                        <div class="col-lg-3">
                            Nombre
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="producto_cant" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-12">
                            Cantidad
                        </div>
                        <div class="col-lg-5 col-xs-7">
                            <input type="text" class="form-control validate[required] numerico_dec" id="cantidad_cant" value="1" onfocus="this.select()">
                        </div>
                        <div class="col-lg-2 col-xs-2">
                            <div id="unidad_cant" style="padding-top:5px">UN</div>
                        </div>
                        <div class="col-lg-2 col-xs-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            Costo Unitario
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control  validate[required] numerico_int" id="valor_cant">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            Observación
                        </div>
                        <div class="col-lg-9">
                            <textarea id="obsdet_cant" class="form-control limpiar validate[required]" rows="3"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="guardarCarrito btn btn-primary" value="Agregar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="POST" id="form_editar_carrito" class="form_editar_carrito" role="form" abineguid="3601F63408914151867A663B8D932760">
    <div class="modal fade" id="modal_editar_carrito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_editar_carrito" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header_modal">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_editar_carrito">Edita detalle<span style="font-size: 16px"></span></h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id_indice_editar_carrito">
                    <input type="hidden" id="codigo_editar_carrito" value="5">
                    <div class="row">
                        <div class="col-lg-3">
                            Nombre
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="producto_editar_carrito" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-12">
                            Cantidad
                        </div>
                        <div class="col-lg-5 col-xs-7">
                            <input type="text" class="form-control validate[required] calcula_valor_editar_carrito numerico_dec" id="cantidad_editar_carrito" value="1" onfocus="this.select()">
                        </div>
                        <div class="col-lg-2 col-xs-2">
                            <div id="unidad_editar_carrito" style="padding-top:5px">UN</div>
                        </div>
                        <div class="col-lg-2 col-xs-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            Valor
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control validate[required]" id="valor_editar_carrito">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            Observación
                        </div>
                        <div class="col-lg-9">
                            <textarea id="obsdet_editar_carrito" class="form-control limpiar" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="guardaredicionCarrito btn btn-primary" value="Guardar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="modal_carrito_eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog_eliminar">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button id="close_modal_eliminar" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title titulo_modal_h3" id="myModalLabel_elimina_obra">Eliminar Producto</h3>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar el Producto?<br>
                <br>
                <div class="form-horizontal">
                    <input type="hidden" name="codigocarrito_eliminar_hidden" id="codigocarrito_eliminar_hidden">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                        <input type="submit" class="enviar_carrito_eliminar btn btn-danger" value="Eliminar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_carrito_vaciar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog_eliminar">
        <div class="modal-content modal-sm">
            <div class="modal-header header_modal">
                <button id="close_modal_vaciar" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title titulo_modal_h3" id="myModalLabel_vaciar_carrito">Vaciar Carrito</h3>
            </div>
            <div class="modal-body">
                ¿Está seguro de vaciar el carrito?<br>
                <br>
                <div class="form-horizontal">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                        <input id="btn_vaciar_carro" type="submit" class="btn btn-danger" value="Vaciar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_guardar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_guardar" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <div class="modal-header header_modal">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_guardar">Guardar Inventario<span style="font-size: 16px"></span></h3>
            </div>

            <div class="modal-body">
                ¿Está seguro de guardar el invantario?<br>
                <br>
                <div class="form-horizontal">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                        <input id="btn_guardar_carro" type="submit" class="btn btn-success" value="Guardar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_aplicar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_guardar" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="min-width: 30% !important; max-width:60% !important">
        <div class="modal-content modal-sm">
            <div class="modal-header header_modal">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h3 class="titulo_modal_h3 modal-title" id="myModalLabel_aplicar">Aplicar Inventario<span style="font-size: 16px"></span></h3>
            </div>

            <div class="modal-body">
                ¿Está seguro de aplicar inventario?<br>
                <br>
                <div class="form-horizontal">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                        <input id="btn_aplicar_inventario" type="submit" class="btn btn-success" value="Aplicar">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="modal_inventario_eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog_eliminar">
        <div class="modal-content">
            <div class="modal-header header_modal">
                <button id="close_modal_eliminar" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title titulo_modal_h3" id="myModalLabel_elimina">Eliminar Inventario Insumo</h3>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar ?<br>
                <br>
                <div class="form-horizontal">
                    <input type="hidden" id="referencia_eliminar_hidden">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                        <input type="submit" id="ok_insumo_eliminar" class="btn btn-danger" value="Eliminar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var acumula_escaneos
    var indice_carro = 0;
    var inventario = [];
    var carrito = [];
    var cantidad_carro = 0;
    var fila_actual_carro = 0;
    var tabla_inventario = "";
    var table_inventario = "";
    var inventario = [];

    $(document).ready(function () {


        cargarinventario();

        $("#btn_mostrarinventariados").click(function (e) {
            cargarinventario();
        });
        $("#bodega").change(function (e) {
            cargarinventario();
        });

        $("#btn_buscarinsumos").click(function (e) {
            e.preventDefault();
            //if ($("#insumo").val() == "") {
            //    mostrar_msj_advertencia("Debe indicar un texto de busqueda");
            //    return false;
            //}
            listar_Insumos();
            $("#insumo").focus();
        });

        $('#insumo').on({
            keypress: function () { typed_into = true; },
            change: function () {
                if (!(isNaN($('#insumo').val()))) {
                    if (typed_into) {
                        if ($("#insumo").val() != "") {
                            obtieneProductoPorCodigo();
                            $("#insumo").val("");
                        }
                    } else {
                        mostrar_msj_error('Código no valido');
                    }
                }
            }
        });

        $('#btn_importarinventario').on('click', function (e) {

            $("#modal_importar_inventario").modal("show");
        });

        $("#btn_abre_modal_guardar").click(function (e) {
            e.preventDefault();
            debugger;
            if (carrito.length == 0) {
                mostrar_msj_advertencia("Debe ingresar al menos un elemento al carro !!");
                return false;
            }
            $("#modal_guardar").modal("show");
        });

        $("#btn_guardar_carro").on('click', function (e) {
            e.preventDefault();
            $("#ajax_loader").css("display", "");
            var bodega = $('#bodega').val();
            $.ajax({
                type: "POST",
                url: '/Inventario/Grabar_Inventario/',
                data: JSON.stringify({
                    carrito: carrito,
                    bodega:bodega
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#modal_guardar").modal("hide");
                    debugger;
                    $("#ajax_loader").hide();
                    if (data == "1") {
                        $("#ajax_loader").css("display", "none");
                        mostrar_msj_success('Datos guardados exitosamente');
                        cantidad_carro = 0;
                        carrito = [];
                        $("#btn_vercarrito").html('<i class="glyphicon glyphicon-shopping-cart"></i>(' + cantidad_carro + ')');
                        $("#idDivPartialListadoInventario").html("");
                        cargarinventario();
                    } else if (data == "-1") {
                        mostrar_msj_error("Error Interno");
                        window.location.href = "/../Acceso/Login";

                    } else {
                        mostrar_msj_error(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de Conección");
                }
            });
        });

        $("#btn_abre_modal_aplicar").click(function (e) {
            e.preventDefault();
            $("#modal_aplicar").modal("show");
        });

        $("#btn_aplicar_inventario").on('click', function (e) {
            e.preventDefault();
            $("#ajax_loader").css("display", "");
            var bodega = $("#bodega").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '/Inventario/Aplicar_Inventario/',
                data: JSON.stringify({
                    carrito: carrito,
                    bodega: bodega
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#modal_aplicar").modal("hide");
                    $("#ajax_loader").hide();
                    if (data == "1") {
                        $("#ajax_loader").css("display", "none");
                        mostrar_msj_success('Inventario aplicado exitosamente');
                        cantidad_carro = 0;
                        carrito = [];
                        inventario = [];
                        $("#idDivPartialListadoInventario").html("");
                    } else if (data == "0") {
                        $("#ajax_loader").css("display", "none");
                        mostrar_msj_advertencia('No se encontro Inventario para aplicar');
                        cantidad_carro = 0;
                        carrito = [];
                        inventario = [];
                        $("#idDivPartialListadoInventario").html("");
                    } else if (data == "-1") {
                        mostrar_msj_error("Error Interno");
                        window.location.href = "/../Acceso/Login";

                    } else {
                        $("#ajax_loader").css("display", "none");
                        mostrar_msj_error(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mostrar_msj_error("error de Conección");
                }
            });
        });

        $('#form_cantidad').validationEngine();
        $('.guardarCarrito').on('click', function (e) {
            e.preventDefault();

            if (!$("#form_cantidad").validationEngine('validate')) {
                return false;
            }

            var cantidad = parseFloat(($("#cantidad_cant").val() == "") ? 0 : $("#cantidad_cant").val().replace(/\,/g, '.'));
            var valor = parseFloat(($("#valor_cant").val() == "") ? 0 : $("#valor_cant").val().replace(/\./g, '').replace(/\,/g, '.'));
            $("#valor_cant").val(formatea_miles(parseInt(valor)));
            debugger;
            $("#ajax_loader").css("display", "");
            var codigo = $("#codigo_cant").val();
            var nombre = $("#producto_cant").val();
            var unidad = $("#unidad_cant").html();         
            var obsdet = $("#obsdet_cant").val();
            var cantidad_str_obs = obsdet.length;
            if (cantidad_str_obs < 25) {
                mostrar_msj_error("Debe ingresar al menos 15 caracteres");
                $("#ajax_loader").css("display", "none");
                return false;
            }
            if (parseFloat(cantidad) > 999999999) {
                mostrar_msj_error("Cantidad muy grande");
                $("#ajax_loader").css("display", "none");
                return false;
            }

            if (cantidad.toString().charAt(cantidad.toString().length - 1) == ".") {
                mostrar_msj_error("Cantidad no debe dejar punto final");
                $("#ajax_loader").css("display", "none");
                return false;
            }
            indice_carro = indice_carro + 1;
            var carrito_recepcion = {
                codigo: codigo,
                detalle: nombre,
                cantidad: parseFloat(cantidad),
                unidad: unidad,
                valor: valor,
                obsdet: obsdet
            }
            carrito.push(carrito_recepcion);
            cantidad_carro = cantidad_carro + 1;
            $("#btn_vercarrito").html('<i class="glyphicon glyphicon-shopping-cart"></i>(' + cantidad_carro + ')');
            $("#ajax_loader").css("display", "none");
            $("#modal_cantidad").modal("hide");

        });

        $("#btn_vercarrito").click(function (e) {
            e.preventDefault();
            $("#idDivPartialListadoInventario").html("");
            if (carrito.length > 0) {
                llenarCarrito();
            }
            $("#insumo").focus();

        });

        $("#btn_vaciar_carro").click(function (e) {
            e.preventDefault();
            carrito = [];
            cantidad_carro = 0;
            $("#btn_vercarrito").html('<i class="glyphicon glyphicon-shopping-cart"></i>(' + cantidad_carro + ')');
            $("#idDivPartialListadoInventario").html("");
            $("#modal_carrito_vaciar").modal("hide");
            cargarinventario();
        });

        $("#btn_vaciarcarro").click(function (e) {
            e.preventDefault();
            $("#modal_carrito_vaciar").modal("show");
        });

        $('#form_editar_carrito').validationEngine();
        $('.guardaredicionCarrito').on('click', function (e) {
            e.preventDefault();

            if (!$("#form_editar_carrito").validationEngine('validate')) {
                return false;
            }
            debugger;
            var cantidad = parseFloat(($("#cantidad_editar_carrito").val() == "") ? 0 : $("#cantidad_editar_carrito").val().replace(/\./g, '').replace(/\,/g, '.'));

            //var ca=
            var valor = parseFloat(($("#valor_editar_carrito").val() == "") ? 0 : $("#valor_editar_carrito").val().replace(/\./g, '').replace(/\,/g, '.'));
            $("#valor_editar_carrito").val(formatea_miles(parseInt(valor)));

            $("#ajax_loader").css("display", "");

            var codigo = $("#codigo_editar_carrito").val();
            var nombre = $("#producto_editar_carrito").val();
            var unidad = $("#unidad_editar_carrito").html();
            var cantidad = $("#cantidad_editar_carrito").val().replace(/\,/g, '.');
            var valor = $("#valor_editar_carrito").val().replace(/\./g, '');
            var obsdet = $("#obsdet_editar_carrito").val();
            if (parseFloat(cantidad) > 999999999) {
                mostrar_msj_error("Cantidad muy grande");
                $("#ajax_loader").css("display", "none");
                return false;
            }
            if (cantidad.toString().charAt(cantidad.toString().length - 1) == ".") {
                mostrar_msj_error("Cantidad no debe dejar punto final");
                $("#ajax_loader").css("display", "none");
                return false;
            }

            var fila_carrito = {
                codigo: codigo,
                detalle: nombre,
                cantidad: parseFloat(cantidad),
                unidad: unidad,
                valor: valor,
                obsdet: obsdet
            }
            var foundIndex = carrito.findIndex(x => x.codigo == codigo);
            carrito[foundIndex] = fila_carrito;

            $("#ajax_loader").css("display", "none");
            $("#modal_editar_carrito").modal("hide");
            llenarCarrito();

        });

        $(".enviar_carrito_eliminar").click(function (e) {
            e.preventDefault();

            var codigo = $("#codigocarrito_eliminar_hidden").val();
            let indexForDelete = carrito.findIndex(carrito => carrito.codigo === codigo);
            ////Eliminando item
            carrito.splice(indexForDelete, 1);
            $("#modal_carrito_eliminar").modal("hide");
            table_carrito.row($("#codigo_" + fila_actual_carro).parents('tr')).remove().draw();
            cantidad_carro = cantidad_carro - 1;
            $("#btn_vercarrito").html('<i class="glyphicon glyphicon-shopping-cart"></i>(' + cantidad_carro + ')');

        });

        $("#ok_insumo_eliminar").click(function (e) {
            e.preventDefault();
            var referencia = $("#referencia_eliminar_hidden").val();
            var url_action = '@Html.Raw(Url.Action("Eliminar_Inventario", "Inventario", new { referencia = "_referencia" }))';
            url_action = url_action.replace("_referencia", referencia);

            $("#ajax_loader").css("display", "");
            $.ajax({
                contentType: false,
                processData: false,
                type: 'POST',
                url: url_action,
                success: function (data) {
                    $("#ajax_loader").hide();
                    if (data.retorno == "-1") {
                        mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                        window.location.href = "/../Acceso/Login";
                    } else {
                        $("#modal_inventario_eliminar").modal("hide");
                        cargarinventario();
                    }
                }
            });
        });

        //  +++++++++++++++++++++++++++++++++++++++++  fin document ready
    });

    function obtieneProductoPorCodigo() {
        var url_action = '@Html.Raw(Url.Action("partialListadoProductoCodigoBarraInventarioFisico", "Inventario", new { material = "material_",bodega="bodega_" }))';
        url_action = url_action.replace("_material", $('#insumo').val()).replace("bodega_", $('#bodega').val());
        $("#ajax_loader").css("display", "");
        $.ajax({
            contentType: false,
            processData: false,
            type: 'POST',
            url: url_action,
            success: function (result) {
                $("#ajax_loader").hide();
                if (result == -1) {
                    mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                    window.location.href = "/../Acceso/Login";
                } else {
                    $("#idDivPartialListadoInventario").html(result);

                }
            }
        });
    }

    function listar_Insumos() {
        var url_action = '@Html.Raw(Url.Action("partialListadoProductoInventarioFisico", "Inventario", new { material = "material_",bodega="bodega_" }))';
        url_action = url_action.replace("material_", $('#insumo').val()).replace("bodega_", $('#bodega').val());
        $("#ajax_loader").css("display", "");
        $.ajax({
            contentType: false,
            processData: false,
            type: 'POST',
            url: url_action,
            success: function (result) {
                $("#ajax_loader").hide();
                if (result == -1) {
                    mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                    window.location.href = "/../Acceso/Login";
                } else {
                    $("#idDivPartialListadoInventario").html(result);
                }
            }
        });
    }

    function llenarCarrito() {
        $("#ajax_loader").css("display", "");

        $.ajax({
            type: "POST",
            url: '/Inventario/partialListadoCarrito/',
            data: JSON.stringify({ carrito: carrito }),
            contentType: "application/json; charset=utf-8",
            dataType: false,
            success: function (result) {

                $("#ajax_loader").hide();
                if (result == -1) {
                    mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                    window.location.href = "/../Acceso/Login";
                } else {
                    $("#idDivPartialListadoInventario").html(result);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                mostrar_msj_error("error de Conección");
            }
        });

    }

    function cargarinventario() {
        var url_action = '@Html.Raw(Url.Action("partialListadoInventario", "Inventario", new { bodega = "bodega_" }))';
        url_action = url_action.replace("bodega_", $('#bodega').val());
        $("#ajax_loader").css("display", "");
        $.ajax({
            contentType: false,
            processData: false,
            type: 'POST',
            url: url_action,
            success: function (result) {
                $("#ajax_loader").hide();
                if (result == -1) {
                    mostrar_msj_error("Su Sessión a ha expirado. Ingrese al Sistema nuevamente");
                    window.location.href = "/../Acceso/Login";
                } else {
                    $("#idDivPartialListadoInventario").html(result);
                    inventario = [];
                    carrito = [];
                    var contador = 0;
                    $(".eliminarInventario").each(function () {
                        debugger;
                        contador++;
                        var codigox = $(this).data("codigo").toString();
                        var detalle = $(this).data("detalle").toString();
                        var cantidad = $(this).data("cantidad").toString();
                        var unidad = $(this).data("unidad").toString();
                        var valor = $(this).data("valor").toString();
                        var obsdet = $(this).data("obs").toString();
                        var elemento = { codigo: codigox };
                        inventario.push(elemento);

                        var carrito_recepcion = {
                            codigo: codigox,
                            detalle: detalle,
                            cantidad: parseFloat(cantidad),
                            unidad: unidad,
                            valor: valor,
                            obsdet: obsdet
                        }
                        carrito.push(carrito_recepcion);


                    });
                    cantidad_carro = contador;
                    $("#btn_vercarrito").html('<i class="glyphicon glyphicon-shopping-cart"></i>(' + cantidad_carro + ')');

                }
            }
        });
    }


</script>